<app-studentnav></app-studentnav>
<div align="center" class="container">
  <legend>
    <h1><b>VIEW PLACED STUDENT</b></h1>
  </legend>
  <br />
  <form action="#">
    <span class="details">Department / Degree</span>

    <select name="department" class="form-control selectpicker">
      <option value="">Select your Department/Degree</option>
      <option>Computer Science and Engineering</option>
      <option>Information Technology</option>
      <option>Electrical and Electronics Engineering</option>
      <option>Mechanical Engineering</option>
      <option>Civil Engineering</option>
      <option>MBA</option>
      <option>MCA</option>
    </select>

    <input type="submit" value="SUBMIT" />
  </form>
</div>
