*{
  text-decoration: none;
}
.navbar {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navmenu {

  height: 50px;
  margin-left: 20%;
  margin-right: 20%;
  display: inherit;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgba(35, 34, 34, 0.438);
}
.navbar .navmenu a{
  width: 150px;
  height:30px; 
  margin: 5px 15px 5px 15px; 
  background-color: beige;
  border-color: transparent;
  border-radius: 20px;
  display: inherit;
  justify-content: center;
  align-items: center;
}
