
<div align="center">
    <app-tponav></app-tponav>
    
</div>
<div align="center">
    <form action="">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h1>VIEW APPLY STUDENTS</h1>

        </div>

            <!-- Department -->
            <label for="department">Department</label>
            <select name="department" id="department" required>
                <option value="">--Please choose an option--</option>
                <option value="CSE">CSE</option>
                <option value="IT">IT</option>
                <option value="ME">ME</option>
                <option value="CE">CE</option>
                <option value="EE">EE</option>
                <option value="EEE">EEE</option>
                <option value="ETC">ETC</option>
            </select>
            <br/>
            <!-- Submit button -->
			<br>
            <button type="submit">Submit</button>



       

    </form>
</div>
