<app-studentnav></app-studentnav>
<div align="center">
    <legend><h1><b>COMPANY APPLY</b></h1></legend><br>
    
          <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter your first name" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your last name" required>
          </div>
          <div class="input-box">
            <span class="details">Regd No.</span>
            <input type="int" placeholder="(19012250..)" required>
          </div>

          <div class="form-group"> 
            <span class="details">Department / Degree</span>
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
              <select name="department" class="form-control selectpicker">
                <option value="">Select your Department/Degree</option>
                <option>Computer Science and Engineering</option>
                <option>Information Technology</option>
                <option >Electrical and Electronics Engineering</option>
                <option >Mechanical Engineering</option>
                <option >Civil Engineering</option>
                <option >MBA</option>
                <option >MCA</option>
              </select>
            </div>
          </div>
          </div>

        <div class="button">
        <input type="submit" value="SUBMIT">
        </div>
      </form>
   
  </div>