<app-studentnav></app-studentnav>
<div align="center">
  <legend>
    <h1><b></b></h1>
  </legend>
  <br />

  <form action="#">
    <span class="details">Department / Degree</span>
    <div class="input-group">
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-list"></i
      ></span>
      <select name="department" class="form-control selectpicker">
        <option value="">Select your Department/Degree</option>
        <option>Computer Science and Engineering</option>
        <option>Information Technology</option>
        <option>Electrical and Electronics Engineering</option>
        <option>Mechanical Engineering</option>
        <option>Civil Engineering</option>
        <option>MBA</option>
        <option>MCA</option>
      </select>
    </div>

    <div class="button">
      <br />
      <input type="submit" value="SUBMIT" />
    </div>
  </form>
</div>
