/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Josefin Sans', sans-serif,Abril Fatface;
    /* background: -webkit-linear-gradient(to right, #71b7e6, #9b59b6);  
    background: linear-gradient(135deg, #71b7e6, #9b59b6); 
    */
   background-image: url(./images/wallpaper.jpg); 
  }